CustomArduSubReplacement/JankTempSetupBypassingPixhawkWithArduino/Surface_Python/utilities/__pycache__
CustomArduSubReplacement/JankTempSetupBypassingPixhawkWithArduino/Surface_Python/__pycache__
.vscode/settings.json
.idea/.gitignore
.idea/LBCCROV.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
